button {
  height: 2.3rem;
  border: none;
  outline: none;
  border-radius: 5px;
  margin: 5px;
  font-size: 22px;
  cursor: pointer;
  min-width: 300px;
  width: 350px;
  max-width: 350px;
}

button:hover{
  background: #2e6da4;
  color: #F5F5F5;
}
