

form {
  display: flex;
  flex-direction: row;
}

form > input {
  margin-left: 5px;
  padding: 5px;
  flex-grow: 1;
  outline: none;
  border: none;
  height: 40px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  font-size: inherit;
}

form > button {
  height: auto;
  color: white;
  background: #172553;
  flex-grow: 0.2;
  border: none;
  font-size: 34px;
  outline: none;
  margin-right: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

ul {
  list-style: none;
  padding: 10px 0;
  margin: 0;
}

ul li {
  padding: 5px;
  background: azure;
  margin: 5px;
  color: #333;
  font-size: 23px;
  border: 2px solid #172553;
  transition: all 100ms;
}

ul li:hover {
  background: #172553;
  color: #F5F5F5;
  border: 2px solid #fff;
}

.icon {
  float: right;
  display: none;
  background: none;
  border: none;
  outline: none;
  color: #F5F5F5;
  font-size: 22px;
}

ul li:hover .icon{
  display: block;
  cursor: pointer;
  z-index: 2;
}
.loading {
  visibility: hidden;
  background: #0c5593;
}
